[submodule "MonkeySpeakR6"]
	path = MonkeySpeakR6
	url = https://github.com/Gerolkae/MonkeySpeakR6.git
[submodule "FurcLib"]
	path = FurcLib
	url = https://github.com/Gerolkae/FurcLib.git
[submodule "SilverMonkeyMods"]
	path = Plugins
	url = http://proteus:8080/SilverMonkeyMods.git
