[submodule "MonkeySpeakEx"]
	path = MonkeySpeakEx
	url = https://github.com/StarShip-Avalon-Projects/MonkeySpeakEx.git
[submodule "VerbotSDK"]
	path = VerbotSDK
	url = https://github.com/StarShip-Avalon-Projects/Verbot-SDK.git
[submodule "furclib"]
	path = FurcLib
	url = https://github.com/StarShip-Avalon-Projects/FurcLib.git
[submodule "UnitTests"]
	path = UnitTests
	url = https://github.com/StarShip-Avalon-Projects/UnitTests.git
