[submodule "FurcLib"]
	path = FurcLib
	url = https://github.com/StarShip-Avalon-Projects/FurcLib.git
[submodule "MonkeySpeakEx"]
	path = MonkeySpeakEx
	url = https://github.com/StarShip-Avalon-Projects/MonkeySpeakEx.git
