<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="MonkeySpeakEditor.Binaries" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MonkeySpeakEditor.Binaries">
            <ComponentRef Id="cmpJuAYEIfy2DNHf56pNH8EEZQlaII" />
            <ComponentRef Id="cmpWweS30YosaRuqICeZM6qbgMnEyM" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="MonkeySpeakEditor.Content">
            <Directory Id="dirCbAjXVcNWfcf7_92wwlH_n7gyZw" Name="Scripts-MS" />
            <Directory Id="dirEaMCceirzqYL7YJwjAWg9VhwB6w" Name="Scripts" />
            <Directory Id="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Name="Templates-MS" />
            <Directory Id="dir454HH71tPSEKoknzD0IN_7V_kpY" Name="Wizard" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MonkeySpeakEditor.Content">
            <ComponentRef Id="cmpX5ZuzFwceZaGrUR9fMOHHLi40eI" />
            <ComponentRef Id="cmpz4BTUwKJTmnfmwdUfakWNoHDCTo" />
            <ComponentRef Id="cmp4IQf.ii2pVqaQOzVRBRNzQJzC4M" />
            <ComponentRef Id="cmpXz8XBw65z.cspUv06HApwVjjlFU" />
            <ComponentRef Id="cmpHvkbFkOQYOAL7YHurgbqOMqO_Ks" />
            <ComponentRef Id="cmpB.42wZQ.DwSjVRbiF7p7AxD4vvs" />
            <ComponentRef Id="cmpoXcFAAxuYUo_8w_ePLoQl9yZdf4" />
            <ComponentRef Id="cmpHUPRAjRAjgl3l3d4yo7I6SsDw6M" />
            <ComponentRef Id="cmplOzl_d0Go2.RrVvvuxK3BW1jW8M" />
            <ComponentRef Id="cmpwNC5zIdLvAKB01bt1nd3kXw9z.I" />
            <ComponentRef Id="cmp.c_qDIyrV8p0n3i9jRg0U9BSE8o" />
            <ComponentRef Id="cmpevUIuZK9D6mW5qxtHpTZrLxCips" />
            <ComponentRef Id="cmpYh2krUn3xh_WeQZft0UQIVAyXvY" />
            <ComponentRef Id="cmpQxb45mmUL4i.9ExaSZo98bIbgZg" />
            <ComponentRef Id="cmpJjMfYgJ3cQgnaw1vwLsfx5U1ClI" />
            <ComponentRef Id="cmp36K7iHR3eK44PKDsK1jWyExNywI" />
            <ComponentRef Id="cmpFiArRsCnPlwXgbQNGzfpXinF6QY" />
            <ComponentRef Id="cmpTaF2Y89sbKDR55QEYEfWgbg3IDY" />
            <ComponentRef Id="cmpnTxsPH8KqRddH54.GhNqP3.cYBI" />
            <ComponentRef Id="cmpUtmkmxNtou34c.PXQWoawxE9RvI" />
            <ComponentRef Id="cmp7X48qsVDrfD2F4cYsxIfny1z7UY" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="MSEditorComponents">
            <Component Id="cmpJuAYEIfy2DNHf56pNH8EEZQlaII" Directory="MonkeySpeakEditor.Binaries" Guid="*">
                <File Id="filVLdWxrSr9aB6ikGgywUK3C5a8_Y" Source="$(var.MonkeySpeakEditor.TargetDir)\MonkeySpeakEditor.exe" />
            </Component>
            <Component Id="cmpWweS30YosaRuqICeZM6qbgMnEyM" Directory="MonkeySpeakEditor.Binaries" Guid="*">
                <File Id="fil0wUGX1TB0bJWaULTl83C_wbH9uI" Source="$(var.MonkeySpeakEditor.TargetDir)\MonkeySpeakEditor.exe.config" />
            </Component>
            <Component Id="cmpX5ZuzFwceZaGrUR9fMOHHLi40eI" Directory="MonkeySpeakEditor.Content" Guid="*">
                <File Id="filHJnuzGBZadLERRLF4ax1m21I90M" Source="$(var.MonkeySpeakEditor.ProjectDir)\DESUrls.ini" />
            </Component>
            <Component Id="cmpz4BTUwKJTmnfmwdUfakWNoHDCTo" Directory="MonkeySpeakEditor.Content" Guid="*">
                <File Id="filoyDz8m.3dhsvWSNgtVEvJWb5ASg" Source="$(var.MonkeySpeakEditor.ProjectDir)\32x32 (2).ico" />
            </Component>
            <Component Id="cmp4IQf.ii2pVqaQOzVRBRNzQJzC4M" Directory="MonkeySpeakEditor.Content" Guid="*">
                <File Id="filY2W9c3gMUhO9StsMHmWMg.7Q61E" Source="$(var.MonkeySpeakEditor.ProjectDir)\help.txt" />
            </Component>
            <Component Id="cmpXz8XBw65z.cspUv06HApwVjjlFU" Directory="MonkeySpeakEditor.Content" Guid="*">
                <File Id="filmOIj9u_mZiSr8EHRQSt8d55hIqM" Source="$(var.MonkeySpeakEditor.ProjectDir)\MapSearch.exe" />
            </Component>
            <Component Id="cmpHvkbFkOQYOAL7YHurgbqOMqO_Ks" Directory="MonkeySpeakEditor.Content" Guid="*">
                <File Id="filBjOc7fwAboCJ0gKIBWmuo8nxHf0" Source="$(var.MonkeySpeakEditor.ProjectDir)\MapSearch_Readme.txt" />
            </Component>
            <Component Id="cmpB.42wZQ.DwSjVRbiF7p7AxD4vvs" Directory="dirCbAjXVcNWfcf7_92wwlH_n7gyZw" Guid="*">
                <File Id="fil3ZLVzo__n7Rv95KxvsyZclpUJ_4" Source="$(var.MonkeySpeakEditor.ProjectDir)\Scripts-MS\DreamCheck.ini" />
            </Component>
            <Component Id="cmpoXcFAAxuYUo_8w_ePLoQl9yZdf4" Directory="dirEaMCceirzqYL7YJwjAWg9VhwB6w" Guid="*">
                <File Id="filWeZJ4fXei.fMKqIDXCKugixpDK4" Source="$(var.MonkeySpeakEditor.ProjectDir)\Scripts\4 point Chair Face.ini" />
            </Component>
            <Component Id="cmpHUPRAjRAjgl3l3d4yo7I6SsDw6M" Directory="dirEaMCceirzqYL7YJwjAWg9VhwB6w" Guid="*">
                <File Id="filduBrAFbUA0mXW5UIFwg0bohYzLM" Source="$(var.MonkeySpeakEditor.ProjectDir)\Scripts\BaH-Item Dispenser.ini" />
            </Component>
            <Component Id="cmplOzl_d0Go2.RrVvvuxK3BW1jW8M" Directory="dirEaMCceirzqYL7YJwjAWg9VhwB6w" Guid="*">
                <File Id="filhCWbEY8.NAwYWi1UDeM99ypSjU8" Source="$(var.MonkeySpeakEditor.ProjectDir)\Scripts\readme.txt" />
            </Component>
            <Component Id="cmpwNC5zIdLvAKB01bt1nd3kXw9z.I" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filhYkkT6V8zL3O2HFKeYT99McwAOM" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\Banish Control with Database.ms" />
            </Component>
            <Component Id="cmp.c_qDIyrV8p0n3i9jRg0U9BSE8o" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filfTwH2clJNs20KOCMlLL9UWbBEvI" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\Banishment control with memberlist.ms" />
            </Component>
            <Component Id="cmpevUIuZK9D6mW5qxtHpTZrLxCips" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="fildtjkkrf2aszEsKdXXWS4cOl6Wt4" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\Demo MemberList.ms" />
            </Component>
            <Component Id="cmpYh2krUn3xh_WeQZft0UQIVAyXvY" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filjX31yi_snOj_g5lZ12dw0GW9bCk" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\DreamCheck.ms" />
            </Component>
            <Component Id="cmpQxb45mmUL4i.9ExaSZo98bIbgZg" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filflSQ1pKWge_9W9uBKtU5fE.mltI" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\Enhanced PS Backup.ms" />
            </Component>
            <Component Id="cmpJjMfYgJ3cQgnaw1vwLsfx5U1ClI" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="fil_eorP3b.Lp9dKdjoddXtcRdg_O0" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\FloodProtect.ms" />
            </Component>
            <Component Id="cmp36K7iHR3eK44PKDsK1jWyExNywI" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filewWHABFNworGgVtsuI.NnufI_J4" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\HelpChanDemo.ms" />
            </Component>
            <Component Id="cmpFiArRsCnPlwXgbQNGzfpXinF6QY" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="fil2a5.3mTm6eYCCxCsU5QYYCU6BRw" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\Navigate Oldetown.ms" />
            </Component>
            <Component Id="cmpTaF2Y89sbKDR55QEYEfWgbg3IDY" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="fil5wMGnDa6r.bJPnX1hJ.YvNChvs8" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\PS Backup 'n' Restore.ms" />
            </Component>
            <Component Id="cmpnTxsPH8KqRddH54.GhNqP3.cYBI" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filvjuUN_l2VMuy_4Y3hLGUDbGQmIA" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\TradeDemo.ms" />
            </Component>
            <Component Id="cmpUtmkmxNtou34c.PXQWoawxE9RvI" Directory="dirsk15Gi4BX5.TuhI6AZR5BqVXnKw" Guid="*">
                <File Id="filqlg6k9oBMWFIthFjtzBUB4bBTCo" Source="$(var.MonkeySpeakEditor.ProjectDir)\Templates-MS\Variable.ms" />
            </Component>
            <Component Id="cmp7X48qsVDrfD2F4cYsxIfny1z7UY" Directory="dir454HH71tPSEKoknzD0IN_7V_kpY" Guid="*">
                <File Id="filpDmCNABhRCL5PD3mfvHPtbTDqmY" Source="$(var.MonkeySpeakEditor.ProjectDir)\Wizard\help.txt" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>