<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
       xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">
  <?define ProductName="Silver Monkey" ?>
  <?define CompanyName="Starship Avalon Projects" ?>
  <Product
    Id="*"
    Name="$(var.ProductName)"
    Version="$(var.FileVersion)"
    Manufacturer="$(var.CompanyName)"
    Language="1033"
    UpgradeCode="A709F3A0-BEE3-403E-AC47-1FE1AD189C77">
    <Package InstallerVersion="400" InstallPrivileges="elevated"  Compressed="yes" />

    <UI>
      <UIRef Id="WixUI_Advanced" />
      <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
      <Property Id="ALLUSERS" Value="2" />
    </UI>
    <InstallExecuteSequence>
      <Custom Action="APP.TaskClose" After="InstallInitialize" />
    </InstallExecuteSequence>
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="license.Rtf" />
    <!--   <WixVariable Id="WixUIBannerBmp" Value="metal.png" /> -->
    <WixVariable Id="WixUIDialogBmp" Value="metal.png" />
    <MajorUpgrade
   Schedule="afterInstallInitialize" AllowSameVersionUpgrades="no" Disallow="no"
   DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
    
    <Media Id="1" Cabinet="SilverMonkey.cab" EmbedCab="yes" CompressionLevel="high" />

    <Property Id="ApplicationFolderName" Value="$(var.ProductName)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
          <Directory Id="PLUGINS" Name="Plugins" />
          <Directory Id="X86" Name="x86" />
          <Directory Id="X64" Name="x64" />
        </Directory>
      </Directory>

      <!-- Step 1: Define the directory structure -->

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
        <Directory Id="StartupFolder" Name="Startup" />
      </Directory>
    </Directory>

    <Property Id="QtExecCmdLine" Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM SilverMonkey.exe' />
    <CustomAction Id="APP.TaskClose" BinaryKey="WixCA" DllEntry="WixQuietExecCmdLine" Execute="deferred" Return="asyncWait" />

    <!-- Step 2: Add the shortcut to your installer package -->
    <SetProperty Id='MonkeySpeakAssociation'
Value="[APPLICATIONFOLDER]\$(var.MonkeySpeakEditor.TargetName)" After="CostFinalize" />
    <SetProperty Id='FileAssociationProperty'
    Value="[APPLICATIONFOLDER]$(var.SilverMonkey2.TargetName)" After="CostFinalize" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="SilverMonkeyShortcut" Guid="{A925EA28-043C-4F6A-8ED4-980EF218BBD4}">
        <Shortcut Id='$(var.SilverMonkey2.TargetName)Shortcut'
                Advertise="no"
                Name='$(var.ProductName)'
                Description='$(var.ProductName)'
                  WorkingDirectory='APPLICATIONFOLDER'
                  Target="[APPLICATIONFOLDER]\$(var.SilverMonkey2.TargetName)" />

        <RegistryValue Root="HKCU"
                       Key="Software\$(var.CompanyName)\SilverMonkey"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />

        <ProgId Id="SilverMonkey.exe"  Description="$(var.ProductName) File type" Advertise="no">
          <Extension Id="bini"  ContentType="Text/Plain" Advertise="no">
            <Verb Command="Open" Id="open" TargetProperty="FileAssociationProperty" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
      </Component>

      <Component Id="MonkeySpeakEditorShortcut" Guid="{4135A160-96A5-4C86-A402-AB2F1AEFA966}">

        <Shortcut Id="$(var.MonkeySpeakEditor.TargetName)Shortcut"
                  Name="$(var.MonkeySpeakEditor.TargetName)"
                               WorkingDirectory='APPLICATIONFOLDER'
                  Target="[APPLICATIONFOLDER]$(var.MonkeySpeakEditor.TargetName)"

                  Description="Starts $(var.MonkeySpeakEditor.TargetName)" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />

        <RegistryValue Root="HKCU"
                       Key="Software\$(var.CompanyName)\MonkeySpeakEditor"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />

        <ProgId Id="MonkeySpeakEditor.exe" Description="Monkey Speak File" Advertise="no">
          <Extension Id="ms" ContentType="Text/Plain" Advertise="no">
            <Verb Command="Open" Id="open" TargetProperty="MonkeySpeakAssociation"  Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
      </Component>

      <Component Id="DataMonkeyShortcut" Guid="{9B9BA57E-16C0-4E6C-A343-2E372C65000C}">

        <Shortcut Id="$(var.DataMonkey.TargetName)Shortcut"
                  Name="$(var.DataMonkey.TargetName)"
                               WorkingDirectory='APPLICATIONFOLDER'
                  Target="[APPLICATIONFOLDER]$(var.DataMonkey.TargetName)"
                  Description="Starts $(var.DataMonkey.TargetName)"

 />
        <RegistryValue
          Root="HKCU"
          Key="Software\$(var.CompanyName)\DataMonkey"
          Name="installed" Type="integer" Value="1"
          KeyPath="yes" />
      </Component>

      <Component Id="VerbotKnowledgebaseEditorShortcut" Guid="{9FB44C2E-575A-44B4-B85F-AB1AFC1572B4}">

        <Shortcut Id="$(var.VerbotKnowledgebaseEditor.TargetName)Shortcut"
                  Name="$(var.VerbotKnowledgebaseEditor.TargetName)"
                               WorkingDirectory='APPLICATIONFOLDER'
                  Target="[APPLICATIONFOLDER]$(var.VerbotKnowledgebaseEditor.TargetName)"
                  Description="Starts $(var.VerbotKnowledgebaseEditor.TargetName)"
 />
        <RegistryValue
          Root="HKCU"
          Key="Software\$(var.CompanyName)\VerbotKnowledgeBaseEditor"
          Name="installed" Type="integer" Value="1"
          KeyPath="yes" />
      </Component>
      <Component Id="MantisNotifyShortcut" Guid="{BA68555B-8B14-4890-A6CF-5CBB6CFB2529}">

        <Shortcut Id="$(var.MantisNotify.TargetName)Shortcut"
                  Name="$(var.MantisNotify.TargetName)"
                             WorkingDirectory='APPLICATIONFOLDER'
                  Target="[APPLICATIONFOLDER]$(var.MantisNotify.TargetName)"
                  Description="Starts $(var.MantisNotify.TargetName)"
 />
        <RegistryValue
          Root="HKCU"
          Key="Software\$(var.CompanyName)\MantisNotify"
          Name="installed" Type="integer" Value="1"
          KeyPath="yes" />
      </Component>
      <!--    <Component Id="MantisNotifyShortcutStartup" Guid="{9C0C4CC8-09D1-4FE4-BC69-C1A237FB34B8}">

        <Shortcut Id="$(var.MantisNotify.TargetName)ShortcutStartup"
                  Directory="StartupFolder"
                  Name="$(var.MantisNotify.TargetName)"
                  WorkingDirectory='APPLICATIONFOLDER'
                  Target="[INSTALLFOLDER]$(var.MantisNotify.TargetName)"
                  Description="Starts $(var.MantisNotify.TargetName)"
 />
        <RegistryValue
          Root="HKCU"
          Key="Software\$(var.CompanyName)\MantisNotifyStartup"
          Name="installed" Type="integer" Value="1"
          KeyPath="yes" />
      </Component> -->

      <Component Id="ChatBotShortcut" Guid="{F9E10352-4CD5-4000-B334-0000FAEF4FCD}">

        <Shortcut Id="$(var.ChatBot.TargetName)Shortcut"
                  Name="$(var.ChatBot.TargetName)"
                               WorkingDirectory='APPLICATIONFOLDER'
                  Target="[APPLICATIONFOLDER]$(var.ChatBot.TargetName)"
                  Description="Starts $(var.ChatBot.TargetName)"

 />
        <RegistryValue
          Root="HKCU"
          Key="Software\$(var.CompanyName)\ChatBot"
          Name="installed" Type="integer" Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="SilverMonkey2" Title="Main Application" Level="1">
      <!-- Step 3: Tell WiX to install the shortcut -->
      <ComponentGroupRef Id="SilverMonkey2.Binaries" />
      <ComponentGroupRef Id="SilverMonkey2.Symbols" />
      <ComponentRef Id="smHelp" />
      <ComponentGroupRef Id="MonkeyCore.Binaries" />
      <ComponentGroupRef Id="MonkeyCore.Symbols" />
      <ComponentGroupRef Id="MonkeyCore.Content" />
      <ComponentGroupRef Id="BugTraqConnect.Binaries" />
      <ComponentGroupRef Id="BugTraqConnect.Symbols" />
      <ComponentRef Id="SilverMonkeyShortcut" />
      <ComponentRef Id="MonkeySpeakEditorShortcut" />
      <ComponentGroupRef Id="TheClaaaw.Binaries" />
      <ComponentGroupRef Id="TheClaaaw.Symbols" />
      <!-- <ComponentRef Id="TheClaaawIni" /> -->
      <ComponentGroupRef Id="MonkeySpeakEditor.Binaries" />
      <ComponentGroupRef Id="MonkeySpeakEditor.Content" />
      <ComponentGroupRef Id="MonkeySpeakEditor.Symbols" />
      <ComponentRef Id="MonkeySpeakHelp" />
      <ComponentGroupRef Id="MonkeySpeakEx.Binaries" />
      <ComponentGroupRef Id="MonkeySpeakEx.Symbols" />

      <ComponentGroupRef Id="FurcadiaLib.Binaries" />
      <ComponentGroupRef Id="FurcadiaLib.Symbols" />
      <ComponentGroupRef Id="SilverMonkeyEngine.Binaries" />
      <ComponentGroupRef Id="SilverMonkeyEngine.Symbols" />
      <ComponentGroupRef Id="SilverMonkeyEngine.Content" />
      <ComponentGroupRef Id="Verbot5Library.Binaries" />
      <ComponentGroupRef Id="Verbot5Library.Symbols" />

      <ComponentRef Id="FCTB" />
      <ComponentRef Id="Irony" />

      <ComponentRef Id="EntityFramework" />
      <ComponentRef Id="EntityFrameworkSqlServer" />
      <ComponentRef Id="SQLite" />
      <ComponentRef Id="SQLiteEF6" />
      <ComponentRef Id="SQLiteLinq" />
      <ComponentRef Id="X86" />
      <ComponentRef Id="X64" />

      <ComponentGroupRef Id="DataMonkey.Binaries" />
      <ComponentGroupRef Id="DataMonkey.Symbols" />
      <ComponentRef Id="DataMonkeyShortcut" />
      <ComponentRef Id="DataMokeyHelp" />

      <ComponentGroupRef Id="MantisSubmit.Binaries" />
      <ComponentGroupRef Id="MantisSubmit.Symbols" />
      <ComponentGroupRef Id="MantisSubmit.Content" />

      <ComponentGroupRef Id="MantisNotify.Binaries" />
      <ComponentGroupRef Id="MantisNotify.Symbols" />
      <ComponentRef Id="MantisNotifyShortcut" />
      <!--   <ComponentRef Id="MantisNotifyShortcutStartup" /> -->

      <Feature Id="ChatBot" Title="Chatbot Application" Level="2">
        <ComponentGroupRef Id="ChatBot.Binaries" />
        <ComponentGroupRef Id="ChatBot.Symbols" />
        <ComponentRef Id="ChatBotShortcut" />
      </Feature>
      <Feature Id="VerbotKnowledgebaseEditor" Title="Chatbot Knowedgebase Application" Level="2">
        <ComponentGroupRef Id="VerbotKnowledgebaseEditor.Binaries" />
        <ComponentGroupRef Id="VerbotKnowledgebaseEditor.Symbols" />
        <ComponentRef Id="VerbotKnowledgebaseEditorShortcut" />
      </Feature>
      <!--   <Feature Id="MantisNotify" Title="BugTraq Notifyer" Level="2">
      </Feature>-->
    </Feature>

    <!-- Help file-->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="smHelp" Guid="{7FEB427A-07AB-4083-8792-2005152C64F3}">
        <File Id="smHelp" Source="$(var.SolutionDir)Build/Help/Silver Monkey.chm" KeyPath="no" Checksum="yes" />
      </Component>
      <Component Id="MonkeySpeakHelp" Guid="{34c5d490-ae16-43ea-95b9-84276ad16370}">
        <File Id="MonkeySpeakEditorHelp" Source="$(var.SolutionDir)Build/Help/Monkey_Speak_Editor_Help.chm" KeyPath="no" Checksum="yes" />
      </Component>
      <Component Id="DataMokeyHelp" Guid="{0219f1a1-d0d4-4c1b-817b-a6fa3f6e95fd}">
        <File Id="DataMonkeyHelp" Source="$(var.SolutionDir)Build/Help/Data_Monkey_Help.chm" KeyPath="no" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <!-- Misc DLLS-->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="FCTB" Guid="{CAA87BC5-9387-47D4-B1BB-A0022C1A71B8}">
        <File Id="FCTB" Source="$(var.SilverMonkey2.TargetDir)FastColoredTextBox.dll" KeyPath="no" Checksum="yes" />
      </Component>

      <Component Id="Irony" Guid="{B078886D-97DD-491F-BFBB-5080A889CB12}">
        <File Id="Irony" Source="$(var.SilverMonkey2.TargetDir)Irony.dll" KeyPath="no" Checksum="yes" />
      </Component>
    </DirectoryRef>

    <!-- SQLite Components -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="SQLite" Guid="{CADE1E29-CD6A-4301-8315-C611156C6462}">
        <File Id="System.Data.SQLite" Source="$(var.SilverMonkey2.TargetDir)System.Data.SQLite.dll" KeyPath="no" Checksum="yes" />
      </Component>
      <Component Id="SQLiteLinq" Guid="{82579691-5906-4861-9f12-7c855ed7848f}">
        <File Id="System.Data.SQLite.Linq.dll" Source="$(var.SilverMonkey2.TargetDir)System.Data.SQLite.Linq.dll" KeyPath="no" Checksum="yes" />
      </Component>
      <Component Id="SQLiteEF6" Guid="{0ae9984b-ac3c-4ec9-ab3c-717a4bebf455}">
        <File Id="System.Data.SQLite.EF6.dll" Source="$(var.SilverMonkey2.TargetDir)System.Data.SQLite.EF6.dll" KeyPath="no" Checksum="yes" />
      </Component>
      <Component Id="EntityFramework" Guid="{ba158fe8-719e-4979-bbbb-85fd7cffd8f7}">
        <File Id="EntityFramework.dll" Source="$(var.SilverMonkey2.TargetDir)EntityFramework.dll" KeyPath="no" Checksum="yes" />
      </Component>
      <Component Id="EntityFrameworkSqlServer" Guid="{ff852303-464b-414d-9a5b-1f431b1db645}">
        <File Id="EntityFramework.SqlServer.dll" Source="$(var.SilverMonkey2.TargetDir)EntityFramework.SqlServer.dll" KeyPath="no" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="X86">
      <Component Id="X86" Guid="{E8C8E211-70E7-4B7E-B6B2-2058E91E7C13}">
        <File Id="SQLite.Interop.X86" Source="$(var.SilverMonkey2.TargetDir)x86\SQLite.Interop.dll" KeyPath="no" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="X64">
      <Component Id="X64" Guid="{7336B0B3-C8D0-4390-A714-837192E31007}">
        <File Id="SQLite.Interop.X64" Source="$(var.SilverMonkey2.TargetDir)x64\SQLite.Interop.dll" KeyPath="no" />
      </Component>
    </DirectoryRef>

    <!-- Plugin FilesS-->
    <!--   <DirectoryRef Id="PLUGINS">
      <Component Id="TheClaaawIni" Guid="{0865D700-279F-4369-A1D5-AD4E89CAB1CA}">
        <File Id="TheClaaawIni" Source="$(var.TheClaaaw.TargetDir)TheClaaaw.ini" KeyPath="no" Checksum="yes" />
      </Component>
    </DirectoryRef> -->
  </Product>
</Wix>