<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="SilverMonkey2.Binaries" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SilverMonkey2.Binaries">
            <ComponentRef Id="cmp_6yWYp1akNBJjlTe2CqF0ky1UZ4" />
            <ComponentRef Id="cmpCEOPbIi57Y1Yxzwg15GDbRKv9us" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="SilverMonkey2.Content">
            <Directory Id="dir8Lg2Jcz3jeXRcYw30b6bOjlgR0g" Name="dll" />
            <Directory Id="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Name="resources" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SilverMonkey2.Content">
            <ComponentRef Id="cmpwnRE9BlVtylF60g5Io1ixi6RW7I" />
            <ComponentRef Id="cmpaa22gxCcnJzwFsWox0x5D_20BoM" />
            <ComponentRef Id="cmp9ZzMRqtuj__W0xDnwPXjqVthZj8" />
            <ComponentRef Id="cmpEbFOeHs.OaWXBN57Ywv6YfsQwMY" />
            <ComponentRef Id="cmpWXpNAW19jx.6UQBNSuUtjM5MLs8" />
            <ComponentRef Id="cmpig99cnOqOf2XToErDAJ3DkIF7JQ" />
            <ComponentRef Id="cmp2pyoIxPAteixJZDDx_BXm7pW54w" />
            <ComponentRef Id="cmpIG5AF9m1iklKm9w49HbXxoIZeaQ" />
            <ComponentRef Id="cmp94JahGqilWAC_MbsQ_oNEKyStGg" />
            <ComponentRef Id="cmprp3e5n7DPumm6e9WH5HiiXR3WIo" />
            <ComponentRef Id="cmpulqIBhugSV8jRXvw36HdBDE.rQs" />
            <ComponentRef Id="cmpLXzN7PlSuFUBwECLXNMYe73f4X8" />
            <ComponentRef Id="cmpUycbIMcjaAO.linV_fRhHceqhtA" />
            <ComponentRef Id="cmppnZN229Z3322LPIRmr2fw2Tgi9Y" />
            <ComponentRef Id="cmpu85Iz6Z6pPelwlHnfl6thF97fxY" />
            <ComponentRef Id="cmpGPCKi9W2IrMQou4If53CPPIKOZE" />
            <ComponentRef Id="cmpAc9ktaVXRd_YrkCavlACIsJcsQg" />
            <ComponentRef Id="cmpfewPm5ZNrMHpyCXJKFtHBY0WKLI" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SilverMonkey2">
            <Component Id="cmp_6yWYp1akNBJjlTe2CqF0ky1UZ4" Directory="SilverMonkey2.Binaries" Guid="*">
                <File Id="filPH_yRYgrMH0eZHH7zV7wCnigURo" Source="$(var.SilverMonkey2.TargetDir)\SilverMonkey.exe" />
            </Component>
            <Component Id="cmpCEOPbIi57Y1Yxzwg15GDbRKv9us" Directory="SilverMonkey2.Binaries" Guid="*">
                <File Id="filJLWyCl8p0b9i5Vm47RcvdGnZOos" Source="$(var.SilverMonkey2.TargetDir)\SilverMonkey.exe.config" />
            </Component>
            <Component Id="cmpwnRE9BlVtylF60g5Io1ixi6RW7I" Directory="SilverMonkey2.Content" Guid="*">
                <File Id="filyzwKCxMGwNv2bhRxHLi6baSTS9c" Source="$(var.SilverMonkey2.ProjectDir)\Format Notes.txt" />
            </Component>
            <Component Id="cmpaa22gxCcnJzwFsWox0x5D_20BoM" Directory="SilverMonkey2.Content" Guid="*">
                <File Id="filiEtRBY_CcWUSktqtMytO7.P31Vg" Source="$(var.SilverMonkey2.ProjectDir)\SM Lisence.txt" />
            </Component>
            <Component Id="cmp9ZzMRqtuj__W0xDnwPXjqVthZj8" Directory="SilverMonkey2.Content" Guid="*">
                <File Id="filfSguYGSQAKkjTTV.n0JCWFOqDj0" Source="$(var.SilverMonkey2.ProjectDir)\README.txt" />
            </Component>
            <Component Id="cmpEbFOeHs.OaWXBN57Ywv6YfsQwMY" Directory="SilverMonkey2.Content" Guid="*">
                <File Id="fil73trZQJ0XqZmnYGYzP.XDyL3Y7Q" Source="$(var.SilverMonkey2.ProjectDir)\TODO.txt" />
            </Component>
            <Component Id="cmpWXpNAW19jx.6UQBNSuUtjM5MLs8" Directory="dir8Lg2Jcz3jeXRcYw30b6bOjlgR0g" Guid="*">
                <File Id="fila7mRSg9yaM1Vv_NjdjHfF4ogww0" Source="$(var.SilverMonkey2.ProjectDir)\dll\RTFLib.dll" />
            </Component>
            <Component Id="cmpig99cnOqOf2XToErDAJ3DkIF7JQ" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="fili.pezhBUZT90jDpIE0RvG_QA9k8" Source="$(var.SilverMonkey2.ProjectDir)\resources\images2.ico" />
            </Component>
            <Component Id="cmp2pyoIxPAteixJZDDx_BXm7pW54w" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filI.p4VeQhzVkYmB4cBfRmO_1mxGQ" Source="$(var.SilverMonkey2.ProjectDir)\resources\images2.jpg" />
            </Component>
            <Component Id="cmpIG5AF9m1iklKm9w49HbXxoIZeaQ" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="file12JYSo8bTbze4Q0s7QnSHdmA2g" Source="$(var.SilverMonkey2.ProjectDir)\resources\images2v.ico" />
            </Component>
            <Component Id="cmp94JahGqilWAC_MbsQ_oNEKyStGg" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filH12NwGs5ALnOszlESWQhhNbQc8k" Source="$(var.SilverMonkey2.ProjectDir)\resources\images2v.jpg" />
            </Component>
            <Component Id="cmprp3e5n7DPumm6e9WH5HiiXR3WIo" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filhBAOl.M.SbVNOabA_ZQ_y9PTcfk" Source="$(var.SilverMonkey2.ProjectDir)\resources\images3.ico" />
            </Component>
            <Component Id="cmpulqIBhugSV8jRXvw36HdBDE.rQs" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="fil1xen302tqGDadsNxHCR.uj7nsiU" Source="$(var.SilverMonkey2.ProjectDir)\resources\images3.jpg" />
            </Component>
            <Component Id="cmpLXzN7PlSuFUBwECLXNMYe73f4X8" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filRU4drSFJECByc_sCZd4eyV35p2g" Source="$(var.SilverMonkey2.ProjectDir)\resources\images3v.ico" />
            </Component>
            <Component Id="cmpUycbIMcjaAO.linV_fRhHceqhtA" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="fil7xdMsUdGj4XRxnKhKw2IGBM0BXg" Source="$(var.SilverMonkey2.ProjectDir)\resources\images3v.jpg" />
            </Component>
            <Component Id="cmppnZN229Z3322LPIRmr2fw2Tgi9Y" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filH29Nn0sakunGETI.ODWUgU08fTk" Source="$(var.SilverMonkey2.ProjectDir)\resources\images5.ico" />
            </Component>
            <Component Id="cmpu85Iz6Z6pPelwlHnfl6thF97fxY" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filPq6lIPDnUzZ2.itxrWLHzrBBpWg" Source="$(var.SilverMonkey2.ProjectDir)\resources\images5.jpg" />
            </Component>
            <Component Id="cmpGPCKi9W2IrMQou4If53CPPIKOZE" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="fillbuFuJckY1lrN628gydkheS81HU" Source="$(var.SilverMonkey2.ProjectDir)\resources\images5v.ico" />
            </Component>
            <Component Id="cmpAc9ktaVXRd_YrkCavlACIsJcsQg" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filz4CQ73KPyMmvLU6TV.OpYF7oQjo" Source="$(var.SilverMonkey2.ProjectDir)\resources\images5v.jpg" />
            </Component>
            <Component Id="cmpfewPm5ZNrMHpyCXJKFtHBY0WKLI" Directory="dir0E6xSniPRaNwZdNs3Hfv0m9uLZM" Guid="*">
                <File Id="filoskKsXOk8aiOp_UyOYNr0LwTisQ" Source="$(var.SilverMonkey2.ProjectDir)\resources\SaveAsWebPageHS.png" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>