<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
   xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
<Bundle Name="Bootstrapper" Version="1.0.0.0" Manufacturer="Billy"
        UpgradeCode="8C1601FA-26C9-4458-9757-FC8902EB560E">

	<BootstrapperApplicationRef
  Id="ManagedBootstrapperApplicationHost">
  <Payload
    Name="BootstrapperCore.config"
    SourceFile="BootstrapperCore.config"/>
  <Payload
    SourceFile="$(var.Setup.TargetPath)"/>
</BootstrapperApplicationRef>
	
	<Chain>

    <PackageGroupRef Id="PassiveNetFx40Web"/>

    <!-- Install Application -->
    <MsiPackage Id="SilverMonkey" SourceFile="$(var.Setup.TargetPath)"/>

  </Chain>
</Bundle>

<Fragment>
	<?define NetFx40WebLink = http://go.microsoft.com/fwlink/?linkid=182805 ?>
 <?define NetFx40EulaLink =  http://go.microsoft.com/fwlink/?LinkID=188993 ?>
<util:RegistrySearchRef Id="NETFRAMEWORK40"/>
 
<WixVariable Id="WixMbaPrereqPackageId" Value="NetFx40Web" />
<WixVariable Id="WixMbaPrereqLicenseUrl" Value="$(var.NetFx40EulaLink)" />
 
<PackageGroup Id="PassiveNetFx40Web">
  <ExePackage
      InstallCommand="/passive /norestart /ChainingPackage Bootstrapper"
      RepairCommand="/passive /norestart /repair /ChainingPackage Bootstrapper"
      UninstallCommand="/uninstall /passive /norestart /ChainingPackage Bootstrapper"
      PerMachine="yes"
      DetectCondition="NETFRAMEWORK40"
      Id="NetFx40Web"
      Vital="yes"
      Permanent="yes"
      Protocol="netfx4"
      DownloadUrl="$(var.NetFx40WebLink)"
      Compressed="no"
      Name="redistdotNetFx40_Full_setup.exe">
    <RemotePayload
        Size="889416"
        Version="4.0.30319.1"
        ProductName="Microsoft .NET Framework 4"
        Description="Microsoft .NET Framework 4 Setup"
        CertificatePublicKey="672605E36DD71EC6B8325B91C5FE6971390CB6B6"
        CertificateThumbprint="9617094A1CFB59AE7C1F7DFDB6739E4E7C40508F"
        Hash="06BECADB92A5FCCA2529C0B93687C2A0C6D0D610"/>
  </ExePackage>
</PackageGroup>

 
</Fragment>
</Wix>